* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 50px 0 50px 0;
  background-image: url(../img/background.png);
  background-size: cover;
}

.app-container {
  border: 2px solid #ffffff;
  margin: 0 auto 0 auto;
  max-width: 1450px;
  height: calc(100vh - 100px);
}

.logo {
  margin: 20px auto 20px auto;
  width: 150px;
  height: 150px;
  background-image: url(../img/quiz-logo.png);
  background-size: cover;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.themes {
  margin: 50px auto 50px auto;
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

.button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: cadetblue;
  text-align: center;
  cursor: pointer;
}

.container {
  margin: auto;
  width: max-content;
}

.answer {
  background-color: cornflowerblue;
  width: 500px;
  height: 200px;
}

.new-game {
  margin: auto;
  width: 200px;
}

.hidden {
  display: none;
}
